.container {
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 0.6em;
  width: 100%;
  border: 1px solid whitesmoke;
}

@media (max-width: 668px) {
  .container {
    width: 100%;
  }
}
