.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border: 1px solid blue;
  cursor: pointer;
  border-radius: 12px;
  padding: 8px;
  gap: 10px;
  width: 100%;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
